@import "../../app.component.scss";
.explore-detail{
    width:100%;
    border:1px solid $darkblue;
    background-color: $darkblue;
    min-height: 100vh;
    color:white;
}
.desc{
    width:95%;
font-size:22px;
line-height: 30px;
font-family: RobotoLight;
    margin:25px auto;
    padding:10px;
    text-align: justify;
}
.profile-card{
    width: 100%;

    margin:25px auto;
    height:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    mat-icon{
        color: $primary;
    }
    &::before{
        width:65%;
   margin:0 17.5%;
        border:1px solid #ccc;
        content:'';
        position:absolute;
        z-index: 1;
    }
    .profile-pic{
        position: relative;
        z-index: 2;
        width:100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.container{
    width:70%;
    height: auto;
    margin: 50px auto;
    text-align: center;

}



.profile-container{
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    
    .profile-pic{
       width: 75px;
       height: 75px;
       border-radius: 50%;
       object-fit: cover;
       object-position: center center;
       text-align: left;
    }
    .verify{
        color: rgb(26, 75, 235);
        position: relative;
        background-color: white;
        padding:5px;
        border-radius: 50%;
   display: flex;
   font-size: 35px;
   justify-content:center;
   align-items: center;
        margin-left: -20px;
   margin-top: 54px;
   box-sizing: border-box;
   
   }
   
   table{
       margin:0px 25px;
   
       tr{
       cursor: pointer;
           text-align: left !important;
           padding:10px 0px;
           border:none !important;
           color:white;
           height: auto !important;
           
       }
       #title{
           margin:10px auto;
           font-size:28px;
           line-height: 30px;
           font-family: JosefinSansBold;
       }
       #name{
           opacity: 0.8;
           font-size:20px;
           line-height:30px;
       }
       #date{
           margin:10px auto;
           font-family: RobotoLight;
       opacity: 0.5;
       line-height: 24px;
       }
      
   }
   }
.image-container{
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    cursor: pointer !important;
    .post{
        margin:25px  auto;
        border-radius: 10px;
        width:auto;
        max-width: 100%;
        max-height: 100vh;
        height: auto;
        object-fit: contain;
        transition: all 1s ease-in-out;
    }  
.color-pallete{
    transition: all 1s ease-in-out;
    position:absolute;
    width:max-content;
    background-color: rgba(255, 255, 255, 0.822);
    margin-top: -50px;
    left:30%;
    box-shadow: 2px 2px 2px rgba(24, 23, 23, 0.295);
    border-radius: 40px;
    padding:5px 10px;
    height: auto;

display: none;
    justify-content:center;
    align-items:center;
    .color-btn{
        background-color: royalblue;
        cursor: pointer ;

    }
    mat-icon{
        margin: 0 5px;
     cursor: pointer ;
    }
 
}
&:hover{

    .color-pallete{
        display: flex;
        opacity:1;
    }
}
   
}

.author-container{
    width:100%;
    margin:50px auto;

    h1{
        text-align: left;
        font-family: RobotoMedium;
        margin:20px 0;
    }
    .item{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        height: 300px;
&::before{
    content:'';
    bottom: 0;
    position: absolute;
    width:100%;
    height: 20%;
    left:0;

    display:none;
    border-radius: 10px;
}
&:hover{
 
    .item-overlay{
        opacity: 0.7;
    }
     .title{
         display:flex;
     }
   &::before{
       display: block;
   }
}
        border-radius: 10px;
     overflow: hidden;
     text-align: center;
        .item-bg{
           width: 100%;
            height: 100%;
border-radius: 10px;
            object-fit: cover;
            object-position: top center;
            filter: drop-shadow(16px 16px 10px $darkblue) blur(20px) opacity(0.5) brightness(1);
        }
        .item-overlay{
            width: 90%;
            height: 90%;
            object-position:center center;
            position: relative;
            margin:0 auto;
            margin-top: -285px;
            object-fit: contain;
           
        }
        .title{
            width:100%;
            position: relative;
            margin-top: -35px;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display:none;
            justify-content: center;
            align-items: flex-end;
h4{
    font-size:20px;
}
    
        }
    }
   
}

*{
    box-sizing: border-box;
    transition: all 1s ease-in-out;
}

@media (max-width:900px){
    .container{
        width:100%;
    }
    .desc{
        font-size:18px !important;
    }
   
    .author-container h1{
        font-size:20px;
    }
    .profile-container{
        flex-direction: column;
        .verify{
            margin-top: -30px;
            margin-right: -90px;

        }
        table{
            margin: 0 10px;
            margin-top:20px;

            #title{
                font-size:20px;
                text-align: justify;
            }
            #name{
                font-size:16px;
            }
        }
    }
}

.reaction-container{
    width: 100%;
    height: auto;
padding:10px;
color:white !important;

margin:40px auto;
}
.panel{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    mat-icon{
      
        margin:10px;
    }
}

.comment-container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

}
.add-btn{
    margin: 20px auto;
    background-color: $primary;
    font-size:18px;
    display: flex;
    justify-content:center;
    align-items:center; 
    font-family: RobotoLight;
color: white;

}
.comment-cards{
    width: 100%;
    margin:25px auto;
.item,.owl-carousel .owl-item{
    width:auto;
    max-width: 300px;
    margin:0 auto;
    min-height:150px;
    border-radius: 10px;
background-color: $light-blue;
padding:0 !important;
background-size:cover;


.overlay{
    
   display: flex;
   justify-content:center;
   align-items:center;
   flex-direction: row;
   border-radius: 10px;
    width: 100%;
    min-height: 200px;
height: auto;
    tr{

        padding:0 10px;  
        h4{
            padding: 0px 10px;
            text-align:left;
        }
    }

}.profile-pic{
    width:75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    margin: 0px 10px;
    box-shadow: 2px 2px 5px #1b1b1b;
}
}
}
.comment-box{
    width:100%;
    padding:12px;
    border-radius: 10px;
    background-color: $light-blue;
    border: 1px solid $primary;
    font-size:20px;
    font-family: RobotoLight;
    color: white;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
    background: $darkblue !important;
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
    background: $darkblue !important;
    background-color: $darkblue !important;
box-shadow: none !important;
color:white !important;

}