.profile-container{
    width:100%;
    height:100%;
    background-color:transparent;
    box-shadow: none;
    display:flex;
    justify-content:center;
    align-items:center;

    .card{
        width:50vh;
display:flex;
justify-content:center;
flex-direction:column;
border-radius:10px;
align-items: center;
button{
    margin:20px 30px;
}
div,img{
    text-align: center !important;

}
        height:50vh;
        background-color:black;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
      ;
color:white;      
    }

    .avatar{
        width:150px;
        height:150px;
        border-radius:50%;
         margin:20px auto;
        object-position: top center;
    }
}