<div class="profile-container">
  <div class="card">

        <img [src]='ProfileUrl' class="avatar" alt="">

    
    <div class="row">


        <div class="col-sm-12 col-lg-12">
          
        <div class="button-wrap">
          <label class ="new-button" for="upload"> 
           Change  
        </label>
      
        <input type="file" (change)="onchange($event)" id="upload">
      
        </div>
          </div>
        <br>  
          <div class="col-sm-12 col-lg-12">
            <button mat-raised-button  color="primary"  mat-dialog-close [disabled]="show" (click)="onProfileUpload()">Update</button>
            <button mat-raised-button color="warn"  mat-dialog-close cdkFocusInitial>cancel</button>  
        </div>
          
    </div>

  </div>

</div>