
@import "../app.component.scss";
@import '../button.scss';
#homepage{
    width:100%;
    min-height: 100vh;
    overflow-x: hidden;
    color: #fff!important;
background-color:$darkyellow;

}
.container{
    width:100%;
    min-width: 100%;
    height: auto !important;

}
#menu-container,#main-container,#profile-container{
    min-height: 100vh;
}
#main-container{
width:70%;
margin: 0 auto;
}
#menu-container{
width:15%;
left: 0;
background-color: $light-blue;
position: fixed;
    top: 0;
    padding:10px 0px;
 .title{
     width:100%;
     text-align: center;
     font-size:36px !important;
     line-height: 45px !important;
     font-family: HighTowerText;
     color: white;
 }  
 .menu{
     margin: 50px auto;
     width:100%;
     height: auto;
     display:flex;
     justify-content:center;
     align-items: center;
     flex-direction: column;
     a{
         width: 100%;
         text-align: left;
         padding-top:10px;
         padding-bottom: 10px;
         padding-left: 25%;
         color: white;
         font-size: 20px;
         font-family: RobotoMedium;
         margin: 20px auto;
         transition:1s ease-in-out;
    &:hover{
background-color: $primary;
    }
        }
 } 
}
*{
    box-sizing: border-box;
}
.bottom{
    text-align: center;
    margin-top: 100px;
}
.btn{
    padding:0;
    margin: 0 auto !important;
    background-color: $primary;
    width:80%;
}
.project-container{
    width: 100%;
    mat-icon{
        color: royalblue;
    }
    h4{
        font-size: 20px !important;
        line-height: 20px !important;
        color: #fff !important;
    }

    p{
        width:80%;
        font-size: 14px !important;
        padding: 10px;

        &:hover{
            background-color:$primary;
        }
    }
}
.recent-profile{
    margin:0 auto;
    position: relative;
    width:100px !important;
    height: 100px !important;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
}
.recent-users{
    width:85%;
    margin:0 auto;
    .item{
        width:auto !important;
        height:auto;
    }
}
#uname{
    margin:10px auto;
    font-family: RobotoLight;
    color: #ccc;
    font-size:20px;
    text-align:center;
    width:100%;
}
.recent-blogs{
    width:85%;
margin: 20px auto;
h1{
    font-family: RobotoMedium;
    font-size: 24px ;
    margin:5px auto;text-align: left;
    width:100%;
}
.recent-card{
margin: 0;
    width:100%;
    padding-bottom: 5px;
    height:100%;
    box-shadow:
    0 5.4px 4.9px rgba(0, 0, 0, 0.052),
    0 12.1px 10.9px rgba(0, 0, 0, 0.066),
    0 20.7px 18.6px rgba(0, 0, 0, 0.073),
    0 31.9px 28.7px rgba(0, 0, 0, 0.077),
    0 47.3px 42.6px rgba(0, 0, 0, 0.079),
    0 69.5px 62.5px rgba(0, 0, 0, 0.079),
    0 104.1px 93.7px rgba(0, 0, 0, 0.077),
    0 165.9px 149.4px rgba(0, 0, 0, 0.075),
    0 311px 280px rgba(0, 0, 0, 0.07)
  ;
    background-color: $light-blue;
    img{
        background: whitesmoke;
        width: 100%;
        object-fit:cover;
        object-position: center;
        height: 150px;
    }
    p{
        opacity: .7;
        margin:10px auto;
        padding:0px 10px;
        font-size:16px;
    }
}
.row{
    width:100%;
    margin: 0 auto;

    >div{
        
        
          height: auto !important;
          padding: 20px;
        margin: 0 auto;       
    }

}

    }
#profile-container{
    width:15%;
    right: 0;
position: fixed;
    top: 0;

 }
 .profile-block{
    margin:20px 0;
    width: 100%;
    height: 100px;
    display: flex;
    padding:10px ;
     justify-content:flex-start;
     align-items:flex-start;
     #date{
         padding: 10px 0;
         opacity:0.4;
         font-size:14px;
     }
     #name{
         text-align: left;
        font-size:20px;
        font-family: RobotoMedium;
    }
    img{
margin: 0px 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

}

 .menu-slider{
    width: 85%;
    margin: 0 auto;
    margin: 25px auto;
    .photo{
        transform:rotate(10deg);
        width:90%;
        object-position: center;
        height:250px;
        background-color: white;
    }
  .item{
      background-image: url('https://images.pexels.com/photos/3527795/pexels-photo-3527795.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-size: cover;
  overflow: hidden;
      height: 350px;
      border-radius: 25px;
  }
  .blur{
      width:100%;
      background-image: url('https://images.pexels.com/photos/3527795/pexels-photo-3527795.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      background-size: cover;
  overflow: hidden;

      height: 300px;
     filter: blur(8px);
  -webkit-filter: blur(8px);
  }
  .blur-overlay{
      border-radius: 25px;
      position: relative;
      margin: 0 auto;
border: 0.5px solid white;
      margin-top: -275px;
      h1{
    font-family: Vester;   
font-size:52px !important;
text-align: left;
}
h4{
    margin:15px 0;
    font-size: 20px;
    opacity: .7;
}

.button {
margin-top:20px;
    position: relative;
    background-color: transparent;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: none;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    height: 100%;
    width: calc(100% + 20px);
    position: absolute;
    top: -2px;
    left: -10px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: 1s;
  }
  
  .button:before {
    content:"";

    height: calc(100% + 20px);
    width: 100%;
    position: absolute; 
    top: -10px;
    left: -2px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: 1s;
  }
  
  .button:hover:before {
    transform: rotateY(180deg);
  }
  
  .button:hover:after {
    transform: rotateX(180deg);
  }
  
.row{
    width:100%;
margin: 0 !important;
    >div{
        padding:20px;
        height: 300px;
        display: flex;
        justify-content:center;
        align-items:flex-start;
        flex-direction: column;
    }
}
    width:70%;
      height: 300px;
      color: white !important;
      box-shadow:
  0 5.4px 4.9px rgba(0, 0, 0, 0.052),
  0 12.1px 10.9px rgba(0, 0, 0, 0.066),
  0 20.7px 18.6px rgba(0, 0, 0, 0.073),
  0 31.9px 28.7px rgba(0, 0, 0, 0.077),
  0 47.3px 42.6px rgba(0, 0, 0, 0.079),
  0 69.5px 62.5px rgba(0, 0, 0, 0.079),
  0 104.1px 93.7px rgba(0, 0, 0, 0.077),
  0 165.9px 149.4px rgba(0, 0, 0, 0.075),
  0 311px 280px rgba(0, 0, 0, 0.07)
;
border: none;
      background-color: rgba(0, 0, 0, 0.7);
  }
}

.profile-block.mob{
    display:none;
}

@media screen and (max-width: 900px){
    .profile-block.mob{
        display:flex !important;
        width:90% !important;
    }
    .profile-block.large{
        display:none;
        
    }
    #menu-container .menu{
margin:5px 0 !important;
a span{
    display: none;
}
    }
    #menu-container{
        background-color: $darkblue;
    }
    .menu-slider .item{
        height: 250px;
        }
        .menu-slider .photo{
             
            width: 120px;
            height: 120px;
        }
     .menu-slider .blur-overlay{
  width: 100%;
  height:250px;
  h1{
      font-size:24px !important;

  }
  h4{
      width:100% !important;
      margin:5px 0px !important;
      font-size:16px !important; 
  }
  button{
      font-size:14px !important;
padding:5px 10px !important;
    }
  margin-top:-300px;
  background-color: rgba(0, 0, 0, 0.200);
.row >div{
    width:50% !important;
    height: 250px;
}     
}
    .container{
        width:100% !important;
        padding:0 !important;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }
    #main-container,#profile-container,#menu-container{
        width: 100% !important;
        overflow: hidden;
        position: relative !important;
        min-height: auto !important;
    }
    #menu-container{
.menu{
    flex-direction: row !important; 

}
        .menu a{
            width:max-content!important;
            padding-left: 0 !important;
        }
    }

}


.linear-wipe {
    text-align: center;
    
    background: linear-gradient(to right, #FFF 20%, rgb(78, 255, 152) 40%, rgba(47, 255, 255, 0.623) 60%, #FFF 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 2s linear infinite;
    @keyframes shine {
      to {
        background-position: 200% center;
      }
    }
  }
 
  mat-icon{
      margin:0px 5px !important;
  }

