<div id="homepage">
  <div class="container">
    <div  id="menu-container">
<h1 class="title linear-wipe">
  Crafter
</h1>
<div class="menu">
  <a routerLink="/Explore"><mat-icon>public</mat-icon> <span>Explore</span> </a>
  <a routerLink="/blog"><mat-icon>feed</mat-icon> <span>Blogs</span></a>
  <a routerLink="/Project"><mat-icon>design_services</mat-icon> <span>Projects</span></a> 
  <a routerLink=""><mat-icon>architecture</mat-icon><span> Guide</span></a>

</div>

<div class="bottom">
  <button mat-raised-button (click)="onlogout()" class="btn">Logout</button>
</div>

</div>
    <div class="profile-block mob">
      <img [src]="CurrentUser.profilePic" [routerLink]="['/profilepage', CurrentUser._id]"alt="profile-pic" class="profile-pic">
       <!-- <mat-icon  class="verify">verified</mat-icon> -->
       <table>
           
           <tr id="name"> {{CurrentUser.userName}}</tr>
         
           
          </table>
  </div>
    <div id="main-container">
    
      <div class="menu-slider">
        <owl-carousel-o [options]="customOptions2" >
          <ng-template carouselSlide  *ngFor="let card of Cards" >
            <div class="item">
         <div class="blur">

         </div>
          <div class="blur-overlay">
         <div class="row">
           <div class="col-sm-6 col-lg-6">
             <h1>{{card.heading}}</h1>
             <h4>{{card.desc}}</h4>
             <button routerLink="/{{card.link}}" class="button">View More <mat-icon>arrow_right</mat-icon></button>
      
            </div>
           <div class="col-sm-6 col-lg-6">
           <img [src]="card.img" alt="" class="photo">
            </div>

          </div>
          </div>
            </div>                    
        </ng-template>      
        </owl-carousel-o>
      
      </div>

      <div class="recent-blogs">
        <h1 style="padding-left:2.5%;">Recent Blogs</h1>

     <div class="row">
       <div class="col-sm-12 col-lg-3" [routerLink]="['/blogdetail', blog._id]" *ngFor="let blog of RecentBlogs">
       <div class="recent-card">
      <img [src]="blog.b_coverPhoto" alt="">
      <p>{{blog.b_title}}</p>
       </div>
       </div>
     </div>

      </div>

      <div class="recent-blogs">
        <h1 style="padding-left:2.5%;">Recent Posts</h1>

     <div class="row">
       <div class="col-sm-12 col-lg-3" [routerLink]="['/Exploredetail', blog._id]" *ngFor="let blog of RecentPosts">
       <div class="recent-card">
      <img [src]="blog.d_pic"  alt="">
      <p>{{blog.d_title}}</p>
       </div>
       </div>
     </div>

      </div>

  
    </div>
    <div  id="profile-container">
      <div class="profile-block large">
        <img [src]="CurrentUser.profilePic" [routerLink]="['/profilepage', CurrentUser._id]"alt="profile-pic" class="profile-pic">
        
        <h2 id="name"> {{CurrentUser.userName}}</h2>
        
        
 
        <!-- <mat-icon  class="verify">verified</mat-icon> -->
    </div>
   <div class="profile-container">
     <h4>Recent Users</h4>
     <div class="row">
       <div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let profile of RecentUsers">
         <img [routerLink]="['/profilepage', profile.postedBy._id]" [src]="profile.postedBy.profilePic" alt="">
     <p>{{profile.postedBy.userName}}</p>
        </div>
     </div>
   </div>
    

   <div class="tip-container">
  <h4>Tip of the Day</h4>
   <p>Make your interfaces easy to learn</p>

  </div>

  </div>
  </div>
</div>