<div class="guide-container">
    
   
    <div class="row">
        
        <div class="col-sm-12 col-lg-1" id="menu">
            <h1><i class="fab fa-glide"></i> uide</h1>
            <div>
                
                <a><i class="fas fa-chart-pie" routerLink='/Stats'  matTooltip="Stats" matTooltipPosition="right"></i></a>
                <a><i class="fas fa-tools" routerLink='/Tools' matTooltip="Tools" matTooltipPosition="right"></i></a>
                <a><i class="fas fa-graduation-cap" matTooltip="Learn" matTooltipPosition="right"></i></a>
                <a><i class="fas fa-bookmark" matTooltip="Resources" matTooltipPosition="right"></i></a>

            </div>

        </div>

        <div class="col-sm-12 col-lg-9" id="main-page">
        
        </div>
        
        <div class="col-sm-12 col-lg-2" id="featured">

        </div>

    </div>
</div>