<div class="guide-container">
    
   
    <div class="row">
        
        <div class="col-sm-12 col-lg-1" id="menu">
            <h1><i class="fab fa-glide"></i> uide</h1>
            <div>
                
                <a routerLink='/Stats'><i class="fas fa-chart-pie"   matTooltip="Stats" matTooltipPosition="right"></i></a>
                <a routerLink='/Tools'><i class="fas fa-tools"  matTooltip="Tools" matTooltipPosition="right"></i></a>
                <a routerLink='/Resource'><i class="fas fa-graduation-cap" matTooltip="Learn" matTooltipPosition="right"></i></a>
             
            </div>

        </div>

        <div class="col-sm-12 col-lg-9" id="main-page">
        
        </div>
        
        <div class="col-sm-12 col-lg-2" id="featured">


            

        </div>

    </div>
</div>