@import '../../app.component.scss';
.hero{
    width:100%;
    min-height: 80vh;
    background-image: url('./assets/learn.jpg');
    background-size: cover;
    background-position: right;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding: 2em;
.block{
    width: 50%;
}
    h1{
        line-height: 125%;
        font-size: 52px;
        font-family: Vester;
    }
    p{
        font-family: RobotoMedium;
        font-size: 24px;
        line-height: 125%;
        width: 80%;
        opacity: .7;
    }
}
.companies{
    width: 70%;
    margin: 0 auto;
    min-height: 20vh;
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
    div{
        display: flex;
        justify-content:center;
        align-items:center;
        height: auto;
        margin: 20px;
      
    }
    img{
width: 50px;
height: 50px;    
    }

}
@media screen and (max-width:900px){
    .hero{
        width: 100% !important;
        background-image: none !important;
        background-color: #2e7fd0;
        h1{font-size: 42px;}
        p{
            width: 100%;
            font-size: 20px;
        }
    .block{
        width: 100% !important;
    }
    }
}

// timeline

.heading{
    font-family: Vester;
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 0.1em;
        text-align: center;
        width: 70%;
        margin: 20px auto;
        line-height: 125%;
    
}
.timeline{
   
    position:relative;
    margin:50px auto;
    padding:40px 0;
    width:100%;
    box-sizing:border-box;
    cursor: pointer !important;
  }
  .timeline:before{
    content:'';
    position:absolute;
    left:50%;
    width:2px;
    height:100%;
    background:#c5c5c5;
  }
  .timeline ul{
    padding:0;
    margin:0;
  }
  .timeline ul li{
    list-style:none;
    position:relative;
    width:50%;
    padding:20px 40px;
    box-sizing:border-box;
  }
  .timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
  }
  .timeline ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
  }
  .content{
    padding-bottom:20px;
  }
  .timeline ul li:nth-child(odd):before
  {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    right:-6px;
    background:#ff0066;
    border-radius:50%;
    box-shadow:0 0 0 3px #1b1b1b;
  }
  .timeline ul li:nth-child(even):before
  {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    left:-4px;
    background:$primary;
    border-radius:50%;
    box-shadow:0 0 0 3px #1b1b1b;
  }
  .timeline ul li h3{
    padding:0;
    margin:0;
    font-size: 24px;
    color:#fff;
    font-weight:600;
  }
  a{
      color: #ccc;
      
  }
  .timeline ul li p{
    margin:10px 0 0;
    padding:0;
    font-size: 16px;
    opacity: 0.8;
    line-height: 150%;
  }
  .timeline ul li .time h4{
    margin:0;
    padding:0;
    font-size:14px;
  }
  .timeline ul li:nth-child(odd) .time
  {
    position:absolute;
    top:12px;
    right:-165px;
    margin:0;
    padding:8px 16px;
    background:#ff0066;
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px rgba(14, 14, 14, 0.3);
  }
  .timeline ul li:nth-child(even) .time
  {
    position:absolute;
    top:12px;
    left:-165px;
    margin:0;
    padding:8px 16px;
    background:$primary;
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px rgba(24, 24, 24, 0.3);
  }
  @media(max-width:1000px)
  {
    .timeline{
      width:100%;
    }
  }
  @media(max-width:767px){
    .timeline{
      width:100%;
      padding-bottom:0;
    }
    h1{
      font-size:40px;
      text-align:center;
    }
    .timeline:before{
      left:20px;
      height:100%;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even)
    {
      width:100%;
      text-align:left;
      padding-left:50px;
      padding-bottom:50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before
    {
      top:-18px;
      left:16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time{
      top:-30px;
      left:50px;
      right:inherit;
    }
  }