@import "../../app.component.scss";


#blog-form{
background-color: $darkyellow;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    height: auto;
    p{
      margin: 10px auto;
      color: #ccc;
    }
    h1{
        text-align: center;
        font-family:  JosefinSansBold;
line-height: 42px;
padding: 50px 0px;
color:white;
        font-size: 42px;
    }
    text-align: center;
   label{
       text-align: left;
       margin-top: 30px;

       display:block;
        color: white;
        font-size: 18px;
    }
    form{
        width: 70%;
        margin: 20px auto;
    }
    input,textarea{
     background-color: transparent;
     border: none;
     border-bottom: 2px solid $primary !important;
        width: 100%;
        margin-bottom: 40px ;
        color: white;
        opacity: 0.8;
        font-size: 16px;
        padding: 10px;
    }

    .example-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }
      
      .example-radio-button {
        margin: 5px;
      }


   
      
      .new-button {
          display: inline-block;
          padding: 12px 20px; 
          cursor: pointer;
          box-shadow: 2px 2px 12px #000;
          border-radius: 4px;
          font-size: 16px !important;
          background-color: lighten($color: (#000000), $amount: 10);
          color: #fff;
      }

      .para-section{
     padding:30px;
    
      }
}
mat-radio-button,.myclass{
    color: $primary!important;
    font-size: 18px;
}

.btn{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 3px 40px;
  background-color:$primary;
  font-size: 18px;
  box-shadow: 2px 2px 2px #1b1b1b;
  margin: 30px !important;
}