<div id="blog-form">

    <div class="container">
        <h1>Publish Your Blog</h1>
        <form id="publish-blog">
           
            <label>Enter Your Title</label>
            <input type="text"  >
              
            <label>Upload Cover Photo</label>
            <input type="file" class="custom-file-input">  
           <div class="button-wrap">
            <label class ="new-button" for="upload"> Upload Cover Photo</label>
            <input id="upload" type="file"  />
            
           </div>    
           
           <label>Enter Blog Description</label>
           <input type="text">
          


           <div class="para-section">
          
            <label>Enter Section Heading</label>
            <input type="text">
            <div class="button-wrap">
                <label class ="new-button" for="upload"> Upload Section Photo</label>
                <input id="upload" type="file"  />
                
               </div>
           <label>Enter Paragraph</label>
          <textarea  cols="30" rows="10"></textarea>
         
             
            
           <button mat-raised-button color="primary">Primary</button>
           </div>


        </form>
    </div>
 



</div>