@import "../../app.component.scss";
.explore-container{
    width:100%;
 background-color:$darkblue;
    min-height: 100vh;
    border:1px solid $darkblue;
    overflow-x: hidden;
}
.filter-container{
    width:80%;
    color: white;
    margin:20px auto;
    margin-bottom:50px;
   
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.mat-expansion-panel-header{
    padding:0 !important;
}
.search-container{
    width:80%;
    border-radius:20px;
    height:100px;
    margin:50px auto;
    background-color:$light-blue;
display:flex;
justify-content:space-evenly;
align-items:center;
.color-btn{
    background-color: $darkblue;
    color:white;
mat-icon{
    margin:0 5px;
}
}

    .search-input{
width:85%;
background-color:$darkblue;
color:white;
border-radius: 12px;
font-size:20px;

border:0.5px solid $primary;
padding:10px 20px;
    }
    .btn{
        background-color:$primary;
        color:white;
    }
}

.dribble-container{
    width:100%;
    height: auto;
 margin:0 auto;
 display:flex;
 justify-content:center;
 align-items:center;
 .row>div{padding:0 !important}
}

.post{
        cursor: pointer;
    overflow: hidden;
    padding:0 !important;
    .image-container{
        max-width: 90%;
        text-align: center;
        margin: 0 auto;
        display:flex;
        justify-content:center;
        align-items:center;
        overflow: hidden !important;
        border-radius: 10px;
        }
 &:hover{
.blur-bg{
    filter: drop-shadow(16px 16px 10px $darkblue) blur(20px) opacity(0.5) brightness(1);
    overflow: hidden !important;

}    
.blur{
    overflow: hidden !important;
}

.blur .post{
    position: relative;
    object-fit:cover !important;
    transform:scale(1.2, 1.2);
}
}
 

    height: 375px;
    background-color:$light-blue;
border-radius: 10px;
    margin: 10px ;
    .blur-bg{
background-position: center;
border-radius: 10px;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100%;
overflow: hidden;
position: relative;
filter: drop-shadow(16px 16px 10px $darkblue) blur(40px) opacity(0.5) brightness(1);
box-shadow: none !important;
}

    .blur{
      text-align: center;
       margin-top: -375px;
       border-radius: 10px;
        width: 100%;
        height: 375px;
    
        display:flex;
        justify-content:flex-start;
        flex-direction: column;
align-items: center;
        position: relative;
        overflow: hidden;  //adding overflow hidden
        img{
            border-radius:10px;
            max-width: 90%;
       height:250px;
            background-size: contain;
        }
    
tr{

    max-width: 80% !important; 
    font-family: RobotoMedium;
    font-size: 20px;
    color: white;
    line-height:24px;
text-align: left;
font-size: 14px !important;
white-space: nowrap; 
overflow: hidden;
text-overflow: ellipsis; 
opacity: 0.6;

}
table{
    margin-left: 10px;

}
.profile{
            width:100%;
            height: 75px;
            display:flex;
            justify-content:flex-start;
padding:0px 5%;
            align-items:center;
            border-radius:10px;
            margin-bottom:5px;
            .profile-pic{
                width:50px;
                object-fit:cover;
                height:50px;
                border-radius: 50%;
            }
        }
          }
  }
  
*{
transition:0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
    box-sizing: border-box;
}
.categories{
    width:80%;
    margin:40px auto;

    .item{
   width:95%;
   overflow: hidden;
        background-color: $light-blue;
        background-size:contain;
        background-position: center;     
       min-height: 120px;
     text-align: center;
     border-radius:10px;
     background-repeat: no-repeat;
     &:hover{

img{
    filter: blur(10px);

}
     }
     img{
        filter: blur(3px);
        border-radius:10px;

        width:100%;
         height:150px;
          object-fit: cover;
        }
    .overlay{
        width:100%;
        height: 120px;
        display:flex;
        justify-content: center;
        align-items:center;
        position: relative;
        margin-top: -150px;
        background: rgba(0, 0, 0, 0.500);
    }
    h4{
        color:white;
        font-size:25px;
    font-family: RobotoMedium;
    text-transform: capitalize;
    }

    }

}
.mat-expansion{
    width:max-content!important;
    background: $darkblue !important;
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
        background: $darkblue !important;
    }
    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
        background: $darkblue !important;
        background-color: $darkblue !important;
box-shadow: none !important;
color:white !important;

    }
    .color-input{
color:white;
        padding:10px;
        border-radius: 10px;
        border:2px solid $primary;
        background-color: $light-blue;
    }

    .mat-raised-button:not([class*="mat-elevation-z"]){
        background-color: $light-blue;
        width:100px;
        border-radius: 50px;
        text-align: center;
        margin:0 auto !important;
        mat-icon{
            margin-right:10px;
 
        }
      
    }
    .color-input{
        width:75%;
    }
    .mat-fab:not([class*="mat-elevation-z"]), .mat-mini-fab:not([class*="mat-elevation-z"]){
        padding-right: 0px !important;
    }
    .basic{
        border-radius: 10px;
 padding:10px 0px;
        width:100%;
        height: auto;
        margin-top:20px;
        background-color: $light-blue;
        mat-icon{
            margin:10px 0px;
        }
     .row{
         width:100%;
         margin:10px auto;
         padding:10px auto;
         cursor:  pointer !important;
        div{
max-width:25%;
            text-align: center;
        }
        }
mat-icon{
    cursor:  pointer !important;
}
    }
}

@media (max-width: 768px){
    .search-container{
        padding: 10px;
        background-color: transparent !important;
    }
    .post{
        margin:20px !important;
        .title{
            display:flex !important;
        }
        .blur{
            img{
                margin:10px auto;
                height:auto !important;
            }
            .profile .profile-pic{
                height:50px !important;
                margin:0 ;
                margin-left: 5% !important;
            }
        }
    }
    .search-container{
        border-radius: 0 !important;
        width:100% !important;
    }
    .mat-expansion .basic{
        width:100% !important;
    }
    .mat-expansion{
        position: relative;
    width: 100% !important;
margin:0 auto !important;
}
.color-input{
    width:70% !important;
}
.mat-fab:not([class*="mat-elevation-z"]), .mat-mini-fab:not([class*="mat-elevation-z"]){
    margin:0px 10px !important;
    margin-left:20px !important;
}
}

.not-found{
text-align: center !important;
h4{

    font-family: JosefinSansBold;
    font-size:42px;
    color:white;
    margin:20px auto;
} 
p{
    font-family: RobotoLight;
    font-size:20px;
    color: #fff;
    opacity: 0.5;
    margin:20px auto;

}

.image{
    width:70%;
    height:50vh;
    background-image: url('./undraw_empty_xct9\(3\).svg');
    background-size: contain;
    margin:0 auto;
    background-position: center;
    background-repeat: no-repeat;
}
}
.mat-chip.mat-standard-chip{
    background-color: $light-blue !important;
color: white !important;
}
.mat-chip.mat-standard-chip .mat-chip-remove{
    color: $primary !important;
}
.example-chip-list{
    min-width:70%;
  
}

.mat-expansion-panel-body ,.mat-expansion-panel-content {
    padding-left: 0 !important;
div{
    padding-left: 0 !important;

}
}
.add-post{
    position: fixed;
 
    right: 50px;
    top: 85%;
 background-color: $primary ;
 background: $primary;
 color:white;
}


@media screen and (max-width: 900px){
    .filter-container{
        flex-direction: column !important;
        justify-content:center;
        align-items:center; 
    }
   
    .post{
        height: 300px !important;
    
        .blur{
            margin-top: -300px !important;
        }

        .post .image-container{
width: 100%;
        }
    }
    .search-container .search-input{
width:70% !important;
    }
}

