<section id="landingpage">
<div class="nav-bar">
    <h1>Crafter</h1>
    <div class="nav">
        <a href=''>About Us</a>
        <a routerLink='/login'>sign in</a>

    </div>

</div>

<div class="page-container">
<div class="row">
    <div class="col-sm-12 col-lg-6 animate__fadeInLeft" id="hero-section">
        <h1 class="header">
            Help Your <br><span> Design</span> Skills <br>
            To Enhance With Us
        </h1>
    <h4>Know the story behind every design </h4>
       <button routerLink="/signup">Get Started <mat-icon>play_circle</mat-icon></button>   
</div>
    <div class="col-sm-12 col-lg-6" id="hero-image">

    </div>

</div>
</div>
</section>