@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import "../app.component.scss";
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');




#landingpage{
width: 100%;
min-height: 100vh;
color: $text-color;
background-color:#020101;
}

.nav-bar{
    width: 85%;
    margin: 0 auto;
    height: 10vh;
    // border: 1px solid red;
    display: flex;
    padding:10px ;
    justify-content: space-between;
    align-items: center;
 
    h1{
        font-family: HighTowerText;
         font-size: 42px;
          line-height: 42px;
          padding:0 15px!important;
          margin: 0 !important;
     }
     
     a{
         color: white;
          margin: 0 20px;
          text-transform: capitalize;
          font-size: 16px !important;
          font-family: JosefinSansBold;
      }

}

.page-container{
    width: 85%;
    padding:10px;
    margin: 0 auto;
    min-height: 90vh;
    .row{
        margin:0 !important;
        padding:0 !important;
    }
    .row>div{
        min-height: 85vh;
        height:100% !important;
    }
    #hero-image{
        background-size: cover;
background-position: center;
        background-image: url('./753689a378294bf635a1473a7ca90d29.webp');
    }
}

#hero-section{
    animation:jackInTheBox; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    display: flex;
    justify-content:center;
    align-items:space-around;
    flex-direction: column;
    .header{
        width: 100%;
        font-family: Vester;
        font-size: 56px;
        line-height: 115%;
        span{
            background: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
                        -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    h4{
      font-family: RobotoLight;
      opacity: .7;
        width: 90%;
        font-size: 24px;
       line-height: 30px;
    }
    text-align: left;
   button{
       border-radius: 10px;
       margin: 25px 0;
      width:max-content;   
      border: none !important;
      background-color: $primary;
    padding: 10px 25px;
    line-height: 20px;
    font-size: 20px;
    font-family: RobotoMedium;
    color: white;
display: inline-flex;
justify-content: space-evenly;
align-items: center;   
mat-icon{
        margin: 0px 10px;
        vertical-align: bottom;
        font-size: 24px !important;
        transition: all 1s ease-in-out;

    }

    transition: all 1s ease-in-out;
    &:hover{
        /* don't forget to set a duration! */
        animation:heartBeat; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s
    }
   }
}

@media only screen and (max-width: 900px) {

    .nav-bar{
        width:100% !important;
        a{
            margin: 0 10px;
        }
    }
    #hero-section .header
    {
        width:100% !important;
        font-size: 42px !important;
    }
    .page-container{
        width: 100% !important;

    }
    #hero-section h4{
        width:100% !important;
        font-size: 18px !important;
        line-height: 24px;
    }
}