<section id="landingpage">
    <div id="navbar">
        <h1><i>Crafter</i></h1>
        
      <div>
        <button mat-button >Team</button>

        <button mat-button (click)="onlogout()">Logout</button>
        <button mat-button routerLink="/login">Login</button>

      </div>
     
    </div>

    <div class="landing-card">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="content-card"> 
                <h1>Craft Your Design</h1>
                <p>Start Crafting your Digital Product UI by learning the process and being part of the process to enhance the quality of your aesthetic design
                </p>
                <button routerLink="/signup" mat-flat-button class="cta">Get Started <mat-icon aria-hidden="false" aria-label="Example home icon">double_arrow</mat-icon>
                </button>
               </div>
          </div>
<div class="col-sm-12 col-lg-6">
<div class="image-card">
<div class="card-1">

</div>
<div class="row" style="width:100%;">
    <div class="col-sm-3 col-lg-6">
<div class="card-2"></div>
    </div>
    <div class="col-sm-6 col-lg-6">
        <div class="card-3"></div>

    </div>
</div>
</div>
</div>
        </div>
    </div>
</section>