@import "../../app.component.scss";


#blog-detail{
width:100%;
min-height: 100vh;
background-color: $darkyellow;
color: white;
border: 1px solid rgba(204, 204, 204, 0);
overflow-x:hidden !important;


}

.container{
    text-align: center;

    h4,h1{
        text-align: left;
    }
}


#coverpic{
    width:100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: top center;
    height: auto;
    background-size: cover;
  margin: 0 auto ;
      margin-bottom: 50px;
    background-position: top center;
}
h1{
    font-size: 42px;
line-height:50px;
font-family: JosefinSansBold;
}

.section{
    h4{
        font-size: 30px;
        line-height:28px;
        color: white;
        margin: 15px auto;
        text-align: left !important;
        line-height: 35px;
    }
    img{
        width:100%;
        max-width:100%;
        height: auto;
        text-align: center;
margin: 30px auto;
object-fit: cover;
object-position: top center;
    }
    p{ 
        line-height: 28px;

        margin:20px auto;
    }
    
    text-align: center;  
}

.profile-pic{
    width:50px;
    border: 3px solid $primary;
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
}

th{
    padding:20px;
}
p{
    font-size: 20px;
    line-height:28px;
    color: rgb(255, 255, 255);
    text-align: justify;
    opacity: 0.9;
    font-family: RobotoLight;
}

.comment-box{
    width:50%;

height: auto;
margin: 20px auto;

.add-comment{
    width:100% !important;
    textarea{
        width:100% !important;
        background-color: black;
        border: 1px solid $primary;
        border-radius: 10px;
        color: white;font-size: 16px !important;
        padding:16px !important;
    }
}
.comment-profile{
    width:60px;
    border-radius: 50%;
    border: 2px solid white;
    height: 60px;
}
.profile{
    display:flex;
    padding:20px;
    flex-direction: row;
}

}

mat-expansion-panel,mat-expansion-panel-header{
    background-color: $darkyellow !important;
    color: white;
   
  h4{
      padding:40px;
      color: white !important;
  }
    
    .full-width{
        width:70%;
        
    }
    .comment-card{
        width: 60%;
        background-color: lighten($color: $darkyellow, $amount: 5);
        color: whitesmoke;
        margin: 20px auto;
        .row > div{
            display: flex;
            justify-content:center;
            align-items:center;
        }
        .profile-picture{
            width:60px;
            border-radius: 50%;
            height: 60px;
            object-fit:cover;
            object-position: top center;
        }
        p{
            font-size: 16px;

            font-family: RobotoMedium;
        }
    }
}


@media only screen and (max-width: 900px) {
    .comment-box,    .comment-card{
        width:90% !important;
        
    }
    .comment-container{
        margin-top: 20px;
        #read{
            font-size: 12px !important;
            .mat-icon{
                font-size: 18px;
            }
        }
    }
    .mat-expansion-panel{
        width: 100% !important;
    }
    
    .comment-card{
        .row .col{
            padding: 10px 5px;
        }
        .button{
            max-width: 20px;
            max-height: 20px ;
        }
    }
    #coverpic{
            max-width: 100%;
        
         height: 400px !important;
        object-fit:cover;

    }
    #blog-detail{
        padding:10px;

    }
    .container h1{
        font-size:34px!important;
        line-height:36px !important;
     text-align:left;
     margin-bottom:45px;
    }
    .section {
        overflow-wrap: break-word;
        text-rendering: optimizeLegibility;
        p{
            overflow-wrap: break-word !important;

            font-size:18px !important;
             line-height:26px !important;
             text-align:left!important;
             letter-spacing: -0.003em !important;
             word-break: break-word !important;
             font-style: normal !important;

        }
    }
}