<section class="nav">
    <div class="nav-bar">
        <a href="/"><i class="material-icons">dashboard</i>Projects</a>
        <a href="/" id="chal">Challenges</a> 
    </div>
</section>
<section class="cards" >    
    <div class="card">
        <div class=card-image>
            <div class="desk-view">
                <h1>Desktop view</h1>
                <img src="{{project.image}}" alt="deskcard1"/>
            </div>
            <div class="mob-view">
                <h1>Mobile view</h1>
                <img src="{{project.image1}}" alt="mobcard1"/>
            </div>    
        </div>
        <div class="card-body">
            <div class="card-labels">
                <p style="color: rgb(103, 169, 189);">HTML</p>
                <p style="color: rgb(90, 90, 236)">CSS</p>
                <p style="color: rgb(231, 133, 149)">JS</p>
            </div>
            <div class="card-title">
                <h1>{{project.title}}</h1>
            </div>
            <div class="card-para">
                <p style="color: #46a506; font-weight: 600;">Difficulty: {{project.diff}}</p>
                <p style="color: #333;">{{project.para}}</p>
            </div>
            <div class="card-button">
                <a href="{{project.linkURL}}" download>Download Starter</a>
            </div>
        </div>
    </div>
</section>