/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  background-color:#13131760 ;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x:hidden !important;
    }
    .mat-dialog-container{
        padding: 0 !important;
        color: white;
        background-color: #030303;

      }
      .cdk-overlay-dark-backdrop{
        background-color:#13131760 !important;
    
        background-color: #030303;
      }
      @media (max-width: 900px){

        .mat-dialog-container{
          padding: 0 !important;
          border-radius: 10px;
         width: 95% !important;
         background-color:transparent !important;
        }
    
      }
      .mat-expansion-panel-body ,.mat-expansion-panel-content {
        padding: 0px 0px !important;
      div{
        padding: 0px 0px !important;
      
      }
      }
      *{
        outline:none !important;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ccc;
        opacity: 0.5; /* Firefox */
      }
      
      .mat-form-field-appearance-legacy .mat-form-field-underline{
        background-color: rgb(90,71,248) !important;
        background:rgb(90,71,248) !important;
    }

    .fixed-heading{
      position: absolute;
      left:15%;
      top:25px;
    }
