<div id="profile-form">
    <div class="form">
        <h2>Lets Set Up Your Profile</h2>
        
        <mat-vertical-stepper [linear]="isLinear" #stepper>
        
            <mat-step >

              <div class="row">
                <div class="col s12 l4 m12">
              
                  <img [src]='ProfileUrl' class="avatar" alt="">

                </div>
                <div class="col s12 l4 m12">
                  <input type="file" (change)="onchange($event)">
    
                
                </div>
                <div class="col s12 l4 m12">
                  <button mat-raised-button color="primary" (click)="onProfileUpload()">Update</button>
              
                
                </div>
              
              
              </div>
      
            </mat-step>
          

            <mat-step>
              <img [src]='ProfileUrl' class="avatar" alt="">

              <p>{{Myprofile.firstName}}{{Myprofile.lastName}}</p>
             

            <button mat-raised-button color="primary" mat-dialog-close >Continue</button>
              
            </mat-step>
          
            <!-- Icon overrides. -->
            <ng-template matStepperIcon="phone">
              <mat-icon>call_end</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="chat">
              <mat-icon>forum</mat-icon>
            </ng-template>
        </mat-vertical-stepper>
    </div>
</div>