<div id="profile-page">

  <!-- <div class="welcome">
     <h1>Hey !! <br>I am {{profileUser.user.firstName}}</h1>
  </div> -->
    
  

  <div class="profile-container">
        <div class="row" id="main-row">

          <div class="col-sm-12 col-lg-6" id="profile-bg"  [ngStyle]="{'background-image': 'url(' + profileUser.profile.p_coverPhoto + ')'}">

<h1>{{profileUser.user.firstName}}<br>{{profileUser.user.lastName}}</h1>
<p>{{profileUser.profile.bio}}</p>
<button (click)="openDialog()">View Profile</button>
          </div>
          <div class="col-sm-12 col-lg-6" id="profile-content">
          <div class="nav">
       
            <a *ngIf="Edit" routerLink="/Editprofile"><mat-icon>edit</mat-icon></a>
            <a *ngIf="Upload" routerLink="/profileform"><mat-icon>add_photo_alternate</mat-icon></a>
          
         <div>
           
          <a ><mat-icon>bubble_chart</mat-icon></a>
          <img [src]="profileUser.user.profilePic" (click)="openProfile()" class="profile-pic" alt="">
          <a ><mat-icon>bubble_chart</mat-icon></a>

        </div>
          

          </div>
          
          <div class="blog-container" >
            <h1> Blogs</h1>
            
          <div class="empty" *ngIf="EmptyDivBlog" routerLink="/blogform">
            <div class="bg"></div>
            <h1>You Have Not Posted Anything</h1>
          </div>
          <div  *ngIf="BlogDiv">
            <owl-carousel-o [options]="customOptions">

              <ng-template carouselSlide *ngFor="let blog of profileUser.blog" >
                  <div class="item"  >
                    <div class="blog-card "  [routerLink]="['/blogdetail', blog._id]" >
                      <div class="row">
                      
                        <div class="content" style="background-image: url('{{blog.b_coverPhoto}}')">
                          <p>{{blog.b_title}}</p>
                        </div>
                      </div>
                    </div> 
                 
                  
                  </div>                    
              </ng-template>      
          </owl-carousel-o>
            
          </div>
          </div>
          

        
          <div class="blog-container" >
            <h1> UI Collection</h1>
            <div  *ngIf="DribbleDiv">
              <owl-carousel-o [options]="customOptions2">
  
                <ng-template carouselSlide *ngFor="let post of profileUser.dribbble" >
                    <div class="item" [routerLink]="['/Exploredetail',post._id]" >
                      <div class="blog-card ">
                        <div class="row">
                        
                          <div class="content" style="background-image: url('{{post.d_pic}}')" >
                            <p>{{post.d_title}}</p>
                          </div>
                        </div>
                      </div> 
                   
                    
                    </div>                    
                </ng-template>      
            </owl-carousel-o>
              
            </div>

          <div class="empty" *ngIf="EmptyDiv">
            <div class="bg"></div>
            <h1>You Have Not Posted Anything</h1>
          </div>
          </div>
          

          </div>

        </div>

  </div>

</div>