@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

.heading{
    font-family: 'Saira Stencil One', cursive;
    font-size:clamp(36px, 75px, 75px);
    color: black;
    line-height:75px;
}
.nav{
    height: 10vh;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        margin: 0 50px;
        font-size: 24px;
        font-family: JosefinSans;
        color: black;
    }
}
$orange:#FE2C0F;
$voilet:#67319C;
$yellow:#FFB300;

#profile-page{
  

.view{
    justify-self: flex-end !important;
 color: black;
 position:absolute;
 cursor: pointer;
 top:90%;
 font-size: 30px;
    padding: 10px 30px;

    &::before{
        content:'';
        position:absolute;
        width:50px;
        height: 50px;
        background-color: $orange;
        margin-top: -15px;
        margin-left: -25px;
        z-index: -1;
    }
}
.row{
    margin:0 !important;

}
.row >div{
    padding: 0 !important;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
margin: 0 auto !important;
    p{
  font-size:26px;
  width: 60%;
  opacity: 0.5;
  margin: 0 auto;
  text-align: center;
  margin: 0px auto;
    }
}
#orange-card{
    background-color: $orange;
}
#cover-photo{
    background-color: #000;
    justify-content: center;
    align-items: flex-start;
    img{
        width:80%;
        height: 70vh;
        object-fit: cover;
        position: relative;
        margin-left: -35%;
    }
}

}
#mypost{
    width: 100%;
    height: 100vh;
    h4{
        font-size:75px;
        line-height: 80px;
        font-family: JosefinSans;
    }
    .row{
             >div{
                 min-height: 100vh;
                 display: flex;
                 justify-content: center;
                 align-items: center;
             }
    }
    &::before{
        clip-path: polygon(75% 0, 100% 0, 100% 100%, 0 100%);
        width: 100%;
        height: 100vh;
        background-color: $yellow;
        content: '';
        position: absolute;
    }
}


@media screen and (max-width:718px){
.nav{
    a{
        margin: 10px;
    }
}
.row > div{
    p{
        line-height: 30px;
        width: 80%;
    }
}
#orange-card{
    display: none !important;
}
#cover-photo img{
    margin: 0 auto !important;
height: 400px !important;
}
}