<div id="profile-page">

<div class="row">
<div class="col-sm-12 col-lg-7">
  <div class="nav">
    <a href="#">My Posts</a>
    <a href="#">About Me</a>
    <a href="#">Edit</a>

  </div>
  <h1 class="heading">ASHTON <br> TURNER</h1>
  <p>Designers are made by passion and serinity</p>

  <h4 class="view">Read More</h4>

</div>
<div class="col-sm-12 col-lg-4" id="cover-photo">
<img src="https://images.pexels.com/photos/4320362/pexels-photo-4320362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="cover-photo">
</div>
<div class="col-sm-12 col-lg-1" id="orange-card">

</div>
</div>

</div>
<div id="mypost">
  <div class="row">
    <div class="col-sm-12  col-lg-3">
<h4>MY <br> DESIGNS</h4>
    </div>

    <div class="col-sm-12  col-lg-9">

    </div>

  </div>
</div>