<div class="r-container">
<div class="hero-container row">
    <div class="col-sm-12 col-lg-6" id="img"></div>
    <div class="col-sm-12 col-lg-6 flex-column d-flex justify-content-center align-items-start" id='text'>
        <h1>Learn anything anytime and anywhere!</h1>

        <button (click)=" ScrollById('c-container')">Start learning <i class="fas fa-arrow-down"></i></button>
    </div>

</div>

<div class="course-container" id="c-container">
<h1 id="title"><i class="fab fa-youtube"></i> Best Youtubers </h1>
    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of Youtubers">
          <ng-template carouselSlide >
            <div class="y-card">
               <div class="i-card d-flex flex-column justify-content-start align-items-center">
                   <div class="bg"></div>
                <a target="_blank" [href]="slide.website">   <img [src]="slide.profile" alt=""></a>
                   <h4 id="name"><i class="fas fa-signature"></i>  {{slide.name}}</h4>
                 <a [href]="slide.link" target="_blank">  <h4 id="channel"><i class="fab fa-youtube"></i> {{slide.channel}}</h4></a>
                   <a href=""></a>

                </div>
            </div>
                    
        </ng-template>
        </ng-container>
    
      </owl-carousel-o>

      <div class="d-container row">

<div class="col-sm-12 col-lg-4 d-flex justify-content-center flex-column align-items-center" id="menu">
    <h1><i class="fas fa-cube"></i> Resources</h1>

    <mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group d-flex justify-content-center align-items-center flex-column"
  [(ngModel)]="CurrentMenu">
  <mat-radio-button class="menu" *ngFor="let season of Menus" [value]="season">
    {{season}}
  </mat-radio-button>
 
</mat-radio-group>
</div>
<div class="col-sm-12 col-lg-8" id="detail">

<div class="product">

</div>



</div>

      </div>
<div class="slider">
    
</div>
</div>


</div>